*py[cod]
*aiodocker*egg*
/build
/dist
__pycache__
.cache
venv
.env
.envrc
.coverage
coverage.xml
docs/_build
.tox
.mypy_cache
.python-version
.python-runtime
.pytest_cache
pip-wheel-metadata
.sw[po]
.*.sw[po]
/.vscode
/.vim
/.idea
.vimrc
.nvimrc
.exrc
