---

ci:
  autoupdate_schedule: quarterly
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: file-contents-sorter
    files: |
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: |
        (?x)^(
            tests/certs/.*|
            tests/test_context.py
        )$

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff
    args: ['--fix']
  - id: ruff-format
